.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

.title{
    text-align: center;
    
}

.pedido-card {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    width: 500px;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

}

.pedido-processado {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: lightgreen;
    color: green;
  }
  
.pedido-nao-processado {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: lightcoral;
    color: red;
  }
